sample-flow.json
[{"id":"f5a3ffe7.0a5c","type":"inject","name":"","topic":"","payload":"Hello world","payloadType":"string","repeat":"","crontab":"","once":false,"x":382,"y":234,"z":"7907e72.f86f818","wires":[["eb0c42f2.14f3c"]]},{"id":"a73f31d4.58c0d","type":"debug","name":"","active":true,"console":"false","complete":"true","x":905,"y":241,"z":"7907e72.f86f818","wires":[]},{"id":"eb0c42f2.14f3c","type":"wit.ai","name":"","access_token":"WNGYO646UEE4LR2L3JBQZJFIEIBXAYIT","version":"20141023","x":624,"y":335,"z":"7907e72.f86f818","wires":[["a73f31d4.58c0d"]]}]